In [2]:
print("hi!!!")

hi!!!

In [3]:
name=input("hans")

hansjayapriya

In [5]:
a=1
print("The Type of a",type(a))
b=40.4
print("The Type of b",type(b))
c=1+3j
print("The Type of c",type(c))
print("c is a complex number",isinstance(1+3j,complex))

The Type of a <class 'int'>
The Type of b <class 'float'>
The Type of c <class 'complex'>
c is a complex number True

In [8]:
str1='hello everyone'
str2='how r u'
print(str1[0:2])
print(str2[4])
print(str1*2)
print(str1 + str2)

he
r
hello everyonehello everyone
hello everyonehow r u

In [10]:
list1=[1,"hi","python",2]
print(type(list1))
print(list1[3:])
print(list1[0:2])
print(list1+list1)
print(list1*3)

<class 'list'>
[2]
[1, 'hi']
[1, 'hi', 'python', 2, 1, 'hi', 'python', 2]
[1, 'hi', 'python', 2, 1, 'hi', 'python', 2, 1, 'hi', 'python', 2]

In [13]:
list1=["hijk","0987"]
print(list1)
list1.append("hi")
print(list1)
list1.insert(3,"bye")
print(list1)

['hijk', '0987']
['hijk', '0987', 'hi']
['hijk', '0987', 'hi', 'bye']

In [14]:
tup=("hi","python",2)
print(type(tup))
print(tup)
print(tup[1:])
print(tup[0:1])
print(tup+tup)
print(tup*4)
tup[2]="hi"

<class 'tuple'>
('hi', 'python', 2)
('python', 2)
('hi',)
('hi', 'python', 2, 'hi', 'python', 2)
('hi', 'python', 2, 'hi', 'python', 2, 'hi', 'python', 2, 'hi', 'python', 2)

TypeError: ignored

In [16]:
r=[1,2,3,4,5,6,7]
n=["rm","jin","suga","jhope","jimin","v","jungkook"]
data=list(zip(r,n))
print(data)

[(1, 'rm'), (2, 'jin'), (3, 'suga'), (4, 'jhope'), (5, 'jimin'), (6, 'v'), (7, 'jungkook')]

print(data)

In [18]:
d={101:'caro',102:'divya',103:'hannah',104:'hansika'}
print(d)
print("1st name is "+d[101])
print("2nd name is "+d[104])
print(d.keys())
print(d.values())

{101: 'caro', 102: 'divya', 103: 'hannah', 104: 'hansika'}
1st name is caro
2nd name is hansika
dict_keys([101, 102, 103, 104])
dict_values(['caro', 'divya', 'hannah', 'hansika'])

In [19]:
d={101:'caro',102:'divya',103:'hannah',104:'hansika'}
copied_dict=d.copy()
print(copied_dict)

{101: 'caro', 102: 'divya', 103: 'hannah', 104: 'hansika'}

In [20]:
del d[102]
d

{101: 'caro', 103: 'hannah', 104: 'hansika'}

In [23]:
print(type(True))
print(type(False))
print(False)
print(True)

<class 'bool'>
<class 'bool'>
False
True

In [25]:
set1=set()
set2={'james',2,x3,'python','james',2,3}
print(set2)
set2.add(10)
print(set2)
set2.remove(2)
print(set2)

{2, 3, 'james', 'python'}
{2, 3, 'james', 10, 'python'}
{3, 'james', 10, 'python'}