In [1]:
"""abs()function"""
neg_number=-55
print(abs(neg_number))

55

In [21]:
"""round()function"""
num1=34.366789
num2=-77.6754257
print(round(num1))
print(round(num2))

34
-78

In [3]:
"""pow()function"""
x=pow(3,4)
print(x)

81

In [9]:
"""divmod()function"""
x=21
y=3
print(divmod(x,y))

(7, 0)

In [11]:
class Person:
    name="Kim Taehyung"
    age = 26
    country ="South Korea"
    job="Singer,Songwritter,Dancer,Actor"
print(dir(Person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'job', 'name']

In [12]:
"""sorted()function"""
tuple=("z","w","s","p","m","h","i","a")
print(sorted(tuple))

['a', 'h', 'i', 'm', 'p', 's', 'w', 'z']

In [14]:
"""sorted()function"""
tuple=("z","w","s","p","m","h","i","a")
print(sorted(tuple,reverse=True))

['z', 'w', 's', 'p', 'm', 'i', 'h', 'a']

In [18]:
"""max()function"""
"""min()functuin"""
tuple=("apple","orange","watermelon")
num=(1,3,5,7,9,-2,-4)
print(max(num))
print(min(num))
print(max(tuple))
print(min(tuple))

9
-4
watermelon
apple

In [28]:
"""len()function"""
list=["apple","orange","watermelon","lychee"]
string="study python"
print(len(list))
print(len(string))

4
12

In [29]:
"""sum()function"""
a=(1,2,3,4,5,6,7,8)
print(sum(a,9))

45

In [42]:
"""help()function"""
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [44]:
"""USER_DEFINED FUNCTIONS"""
def square(num):
    return num**2
object_=square(9)
print("The Square of the Number is :",object_)

The Square of the Number is : 81

In [59]:
"""Pass By REFERENCE"""
def square(my_list):
    squares=[]
    for I in my_list:
        squares.append(I**2)
    return squares
list_=[45,52,13];
result=square(list_)
print("Squares of the Result:",result)

Squares of the Result: [2025, 2704, 169]

In [1]:
"""lambda function"""
lambda_=lambda argument1,argument2:argument1+argument2;
print("Value of Function is :",lambda_(20,30))
print("Value of Function is:", lambda_(40,50))

Value of Function is : 50
Value of Function is: 90